<div class="course__box">
    <div class="card border-0">
        <img src="assets/images/{{course.Logo}}"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 title="{{course.Name}}" class="card-title">{{course.Name}}</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of
                the card's content. card title and make up the bulk of
                the card's content.
            </p>
        </div>
        <hr>
        <div class="card-body course__box-footer">
            <div></div>
            <button class="primary-btn">Làm bài</button>
        </div>
    </div>
</div>